body, html
{
}

div.game
{
    position: relative;
    float: left;
    z-index: 1;
}

div.settings
{
    float: left;
    width: 170px;
    margin-left: 10px;
    font-size: 0.9em;
}

.slider
{
    margin: 2px 10px 10px 10px;
}

.spinner_height, .spinner_width
{
    width: 60px;
    font-size: 0.8em;
}

div.game_sapper
{
    background-color: #c0c0c0;
    padding: 5px;
    float: left;
}

div.field
{
    float: left;
}

.field_item
{
    width: 16px;
    height: 16px;
    background: url(field_items.png);
    float: left;
}

.mine_count_1
{
    background-position: -32px 0;
}

.mine_count_2
{
    background-position: -48px 0;
}

.mine_count_3
{
    background-position: -64px 0;
}

.mine_count_4
{
    background-position: -80px 0;
}

.mine_count_5
{
    background-position: -96px 0;
}

.mine_count_6
{
    background-position: -112px 0;
}

.mine_count_7
{
    background-position: -128px 0;
}

.mine_count_8
{
    background-position: -144px 0;
}

.mine_empty
{
    background-position: 0 0;
}

.mine_empty_checked
{
    background-position: -16px 0;
}

.mine_empty_checked_temp
{
    background-position: -16px 0;
}

.mine
{
    background-position: -160px 0;
}

.mine_checked
{
    background-position: -176px 0;
}

.mine_flag
{
    background-position: -192px 0;
}

.mine_question
{
    background-position: -208px 0;
}

.mine_question_checked_temp
{
    background-position: -224px 0;
}

.mine_wrong_flag
{
    background-position: -240px 0;
}

.indicator
{
    float: left;
    border: 2px inset white;
}

.digits
{
    width: 13px;
    height: 23px;
    background: url(digits.png) 0 0;
    float: left;
}

.digit_0
{
    background-position: -13px 0;
}

.digit_1
{
    background-position: -26px 0;
}

.digit_2
{
    background-position: -39px 0;
}

.digit_3
{
    background-position: -52px 0;
}

.digit_4
{
    background-position: -65px 0;
}

.digit_5
{
    background-position: -78px 0;
}

.digit_6
{
    background-position: -91px 0;
}

.digit_7
 {
     background-position: -104px 0;
 }

.digit_8
{
    background-position: -117px 0;
}

.digit_9
{
    background-position: -130px 0;
}

.smile
{
    width: 26px;
    height: 26px;
    background: url(smiles.png) 0 0;
    float:left;
}

.smile_ok
{
    background-position: 0 0;
}

.smile_die
{
    background-position: -52px 0;
}

.smile_cool
{
    background-position: -78px 0;
}

.smile_wah
{
    background-position: -26px 0;
}

.smile_ok_checked
{
    background-position: -104px 0;
}

table.game
{
    border: 3px outset white;
    border-collapse: separate;
    border-spacing: 5px;
}

tr.game
{
    border: 30px;
}

td.game
{
    border: 3px inset white;
}

.indicator_timer
{
    float: right;
}

table.information
{
    border: 0;
    width: 100%;
}

td.information
{
    width: 1%;
}

.field_grid
{
    float: left;
    border: 2px solid black;
    background-color: darkgrey;
    padding: 3px 4px 4px 3px;
}

.field_grid_item
{
    float: left;
    border: 1px solid black;
    width: 9px;
    height: 9px;
    margin-bottom: -1px;
    margin-right: -1px;
    background-color: white;
}

.field_grid_item.hover_left
{
    background-color: goldenrod;
}

.field_grid_item.hover_right
{
    background-color: brown;
}

.align_center
{
    position: relative;
    width: 100%;
}
.align_center:after
{
    content: '';
    display: block;
    clear: both;
}
.align_center_to_left
{
    position: relative;
    right: 50%;
    float: right;

}
.align_center_to_right
{

    position: relative;
    right: -50%;
}

.settings_label
{
    text-align: center;
    font-weight: bold;
    font-size: 12pt;
    margin: 4px;
}

.grid_label
{
    font-size: 10pt;
    text-align: center;
}

.setting_expander
{
    text-align: center;
    font-size: 8pt;
    margin: 4px 0 0 0;
}