body, html
{
}

#settings
{
    float: left;
    width: 200px;
    margin-left: 10px;
    font-size: 0.9em;
}

#slider
{
    margin: 2px 10px 10px 10px;
}

#spinner_height, #spinner_width
{
    width: 60px;
    font-size: 0.8em;
}

#game_sapper
{
    background-color: #c0c0c0;
    padding: 5px;
    float: left;
}

#field
{
    float: left;
    border: 3px inset white;
}

.field_item
{
    width: 16px;
    height: 16px;
    background: url(field_items.png);
    float: left;
}

.mine_count_1
{
    background-position: -32px 0px;
}

.mine_count_2
{
    background-position: -48px 0px;
}

.mine_count_3
{
    background-position: -64px 0px;
}

.mine_count_4
{
    background-position: -80px 0px;
}

.mine_count_5
{
    background-position: -96px 0px;
}

.mine_count_6
{
    background-position: -112px 0px;
}

.mine_count_7
{
    background-position: -128px 0px;
}

.mine_count_8
{
    background-position: -144px 0px;
}

.mine_empty
{
    background-position: 0px 0px;
}

.mine_empty_checked
{
    background-position: -16px 0px;
}

.mine_empty_checked_temp
{
    background-position: -16px 0px;
}

.mine
{
    background-position: -160px 0px;
}

.mine_checked
{
    background-position: -176px 0px;
}

.mine_flag
{
    background-position: -192px 0px;
}

.mine_question
{
    background-position: -208px 0px;
}